/fakeanim.bin
/map.txt
/xam_17559.rglp
/bin/loaders/patch_loader.bin

/.idea/
/Research/
/Data/
/Output/
/RGLoader/
/Build/
/Shadowboots/
/Dumps/
/KV/
/NAND/
/SMC/
/Templates/
/XCP/
/xeBuild_1.21/
/XeLL/
/Keys/
