# ignore extensions
/*.bin
/*.log
/*.txt
/*.7z
/*.rar
/*.zip

# ignore files
/map.txt
/bin/loaders/patch_loader.bin
/Patches/Dump100C0.S
/test.py
/build_flash.py
/compression.py

# ignore directories
/.idea/
/Research/
/Data/
/Output/
/Build/
/Shadowboots/
/Dumps/
/KV/
/NAND/
/SMC/
/Templates/
/XCP/
/xeBuild_1.21/
/XeLL/
/Keys/

# file exemptions
!/Build/manifest_template.json
