/*.bin
/*.log
/*.txt
/test.py

/map.txt
/bin/loaders/patch_loader.bin
/Patches/Dump100C0.S

/.idea/
/Research/
/Data/
/Output/
/Build/
/Shadowboots/
/Dumps/
/KV/
/NAND/
/SMC/
/Templates/
/XCP/
/xeBuild_1.21/
/XeLL/
/Keys/
